@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap");
:root {
  --accent-color: #e6308a;
  --link-color: #b51963;
  --dark-color: #343434;
  --medium-color: #525252;
  --light-color: #bbb;
  --white-color: #fff;
}
@keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(10deg);
    filter: hue-rotate(10deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
.animated {
  -webkit-animation: rainbow 5s infinite;
  animation: rainbow 5s infinite;
}
body {
  color: var(--dark-color);
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
header {
  background-color: var(--dark-color);
  color: var(--white-color);
  text-align: center;
  font-weight: 200;
  padding: 3rem;
}
h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 300;
}
h4,
h5,
h6 {
  font-weight: 600;
}
p {
  font-weight: 300;
}
header h1 {
  border: 2px solid var(--accent-color);
  display: inline-block;
  padding: 0.5rem;
  margin: 0;
}
header h2 {
  margin-top: 0.5rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
header address {
  margin-top: 2rem;
  font-style: normal;
}
address p {
  display: inline;
  font-weight: 400;
}
address p + p {
  margin-left: 1.2rem;
}
address p + p::before {
  content: "|";
  margin-right: 1.2rem;
}
main {
  display: grid;
  grid-template-columns: 25% auto;
  padding: 2rem;
  gap: 2rem;
}
section {
  break-inside: avoid;
  margin-bottom: 1.2rem;
}
h3 {
  margin: 0 0 0.5rem 0;
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 0.8rem;
}
.icon {
  height: 1rem;
  fill: var(--accent-color);
  margin-right: 0.5rem;
}
.other-shorted {
  display: none;
}
.knowledge h4,
.knowledge p,
.languages h4,
.languages p,
.other-shorted h4 {
  display: inline-block;
  margin: 0.4rem 0;
}
.knowledge div,
.languages div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.knowledge .light,
.languages .light {
  font-size: 0.7rem;
}

.experience,
.education {
  display: grid;
  grid-template-columns: minmax(min-content, 30%) auto;
  column-gap: 2rem;
}
.experience > div,
.education > div,
.other > div {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}
.experience h3,
.education h3,
.other h3 {
  grid-column: 1 / -1;
}
.experience .experience-main,
.education .education-main,
.other .other-main {
  grid-row: 1 / span 2;
}

.experience > div:not(:last-child),
.education > div:not(:last-child),
.other > div:not(:last-child) {
  margin-bottom: 1rem;
}
.experience h4,
.experience h5,
.experience p,
.education h4,
.education h5,
.education p,
.other h4,
.other h5,
.other p {
  margin: 0.2rem 0;
}
.education .education-detail,
.other .other-detail {
  color: var(--medium-color);
}
.education .education-detail:not(:last-child),
.other .other-detail:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media print {
  * {
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }
  @page {
    size: auto;
    margin: 0;
    font-size: 9pt !important;
  }
  body {
    font-size: 9pt !important;
  }
  header {
    padding: 2rem;
  }
  header address {
    margin-top: 1rem;
  }
  .other-shorted {
    display: block;
  }
  .experience,
  .education,
  .other {
    grid-template-columns: minmax(min-content, 25%) auto;
  }
  .experience p,
  .education p,
  .other p {
    font-size: 8pt !important;
  }
  .experience > div:not(:last-child),
  .education > div:not(:last-child),
  .other > div:not(:last-child) {
    margin-bottom: 0.7rem;
  }
}
a {
  color: var(--accent-color);
  text-decoration: none;
}
a.contrast {
  color: var(--link-color);
  font-weight: 400;
}
