.resume-link{
	text-align: center;
}
.twitter{
	background-color: #1da1f2 !important;
}
.linkedin{
	background-color: #006fa6 !important;
}
.bitbucket{
	background-color: #205081 !important;
}
.spotify{
	background-color: #1DB954 !important;
}
.lastfm{
	background-color: #b90000 !important;
}
.item-progress.last .title{
	width: 194px;
}
.resume-item .panel-body p{
	text-align: justify;
}
.milestone-addon{
	display: none;
	font-size: 32px;
}